@import url('https://fonts.googleapis.com/css?family=Indie+Flower%7CSource+Code+Pro:400,700&display=swap');

body,html {
    height: 100%;
    margin: 0;
    padding:0 !important;

}

.body-container {
    height: 100vh;
    background: url("images/beach-1236581_1920.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




.row, .container-fluid {
    overflow-x: hidden;
    padding:0;
}






.title-container {
height: 20vh;
  
}

.south-east {
    color: indianred;
}

.map-search {
    height: 10vh;
}



.map-container {
    height: 30vh;
  
}

#map {
min-height: 30vh;
opacity: 0.8;
width:100%;
}




    /*Code adapted from google maps:  */
    
      table {
        font-size: 12px;
      }
      .hotel-search {
          padding-left: 30px;
          padding-right: 30px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #fff;
        opacity: 0.7;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        left: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 1;
      }
     
      
       #listing {
       
        width: 100%;
        height: auto;
        overflow: auto;
        
        top: 0px;
        cursor: pointer;
        overflow-x: hidden;
      }
      #findhotels {
        font-size: 14px;
      }
      #locationField {
        -webkit-box-flex: 1 1 190px;
        -ms-flex: 1 1 190px;
        flex: 1 1 190px;
        margin: 0 8px;
      }
      #controls {
        -webkit-box-flex: 1 1 140px;
        -ms-flex: 1 1 140px;
        flex: 1 1 140px;
      }
      #autocomplete {
        width: 100%;
      }
      #country {
        width: 100%;
      }
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 100%;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }
    
/* end of code adapted from gogle maps */

footer {
      height: 5vh;
      background-color: gray;
      position: absolute;
      bottom:0;
      width: 100%;
 

}

.form-container {
      height: 20vh;
      opacity: 0.7;
 
}

