@import url('https://fonts.googleapis.com/css?family=Indie+Flower%7CSource+Code+Pro:400,700&display=swap');

body,html {
    height: 100%;
   
    margin: 0;
  

}



@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .body-container {
   
    background: url("images/beach-1236581_1920.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}




 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }









.row,  .container-fluid {
    overflow-x: hidden;
    padding:0;
    
    
}




.main-title-row {
    margin-bottom:30px;
    background-color: #495057c7;
-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.19);
box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.19);
}

.visit, .asia {
    color: #fff;
    text-transform: uppercase;
}


.south-east {
    color: indianred;
}

.map-search {
    height: 5vh;
    opacity: 0.8;
}



.map-container {
    height: 30vh;
  
}

#map {
height: 30vh;
opacity: 0.8;
width:100%;
padding: 0;
cursor: pointer;
overflow-y: hidden;

}




    
    
      table {
        font-size: 12px;
      }
      .hotel-search {
          padding-left: 30px;
          padding-right: 30px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #fff;
        
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        left: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 1;
      }
     
     .listing-block {
         background-color: white;
         opacity: 0.5;
     }
      
       #listing {
       
        width: 100%;
        height: auto;
        overflow: auto;
      
        top: 0px;
        cursor: pointer;
       overflow-x: hidden; 
       overflow-y: hidden;
      }
      #findhotels {
        font-size: 14px;
        padding-right: 10px;
      }
      #locationField {
        -webkit-box-flex: 1 1 190px;
        -ms-flex: 1 1 190px;
        flex: 1 1 190px;
        
      }
      #controls {
        -webkit-box-flex: 1 1 140px;
        -ms-flex: 1 1 140px;
        flex: 1 1 140px;
        padding-right: 15px;
      }
      #autocomplete {
        width: 100%;
      }
      #country {
        width: 100%;
      }
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 100%;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }
    
.reset-button {
    margin-top: 20px;
    margin-bottom: 20px
}

.form-container {
    
      opacity: 0.7;
 
}

.form-container:hover {
    opacity: 0.8;
}

.contact-us-text {
    color: white;
}





.social-media {
  display: inline-block;
  text-align: center; 
 
  
}

footer {
      


      background-color: gray;
 
      width: 100%;

}

.created-by {
    padding-left: 15px;
margin:0;
float: left; 

}



